/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.question{
    grid-area: 1/1/3/2;
    border: 1px solid red;
}

.hidden{
    display: none;
}
.highlight{ background: lightyellow }