/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.question{
    grid-area: 1/1/3/2;

}

.hidden{
    display: none;
}
.highlight{ background: lightyellow }